<div class="flex flex-col gap-2 p-2">
    {{> notif}}
    {{#eachProduk this feeds}}
        <div class="border p-4">
            {{#ifEq this user.Id produk.kedai.user.Id }}
                {{> confirmmodal kedai=produk.kedai }}
            {{/ifEq}}
            <h1 class="capitalize">{{produk.name}}</h1>
            <div class="flex justify-end w-full">
                {{> dropdownmenu key=produk.Id kedai=produk.kedai}}
            </div>
            <p><a href="/k/{{produk.kedai.name}}" class="link">{{produk.kedai.name}}</a> <span
                    class="text-slate-500">by {{produk.kedai.user.full_name}}</span></p>
            <p class="text-sm text-slate-500">Updated at {{dateformat produk.updatedAt}}</p>
            <img class=" p-4 border object-contain w-full h-64" src="/picture/{{produk.picture}}" alt="">
            <a href="/produk/{{produk.kedai.name}}/{{produk.Id}}" class="link">Lihat</a>
            <h2 class="text-slate-500 text-md">Rp. {{produk.price}}</h2>
            <p>{{substr produk.description 100}} ...</p>
        </div>
    {{/eachProduk}}
    <script src="/js/copyCB.js"></script>
</div>