<div class="gap-2 p-2 flex-grow flex justify-center min-h-[calc(100vh-3rem)]">
    {{> notif}}
    <div class="flex flex-col gap-4 md:w-full xl:w-1/2">
        {{#eachProduk this feeds}}
            <div class="border p-4 bg-white rounded-xl">
                {{#ifEq this user.Id produk.kedai.user.Id }}
                    {{> confirmmodal kedai=produk.kedai }}
                {{/ifEq}}
                <div class="flex justify-end w-full mb-2">
                    {{> dropdownmenu key=produk.Id kedai=produk.kedai}}
                </div>
                <a href="/produk/{{produk.kedai.name}}/{{produk.Id}}">
                    <img class="w-full" src="/picture/{{produk.picture}}" alt="">
                    <h1 class="capitalize mt-2">{{produk.name}}</h1>
                    <div class="ps-5">
                        <h2 class="text-slate-500 text-md">Rp. {{produk.price}}</h2>
                        <p>{{substr produk.description 100}} ...</p>
                    </div>
                </a>
                <p class="flex justify-end gap-2">
                    <a href="/k/{{produk.kedai.name}}" class="link">{{produk.kedai.name}}</a>
                    <span class="text-slate-500">by {{produk.kedai.user.full_name}}</span>
                </p>
            </div>
        {{/eachProduk}}
        <script src="/js/copyCB.js"></script>
    </div>
</div>