<div>
    {{> notif }}
    <div class="px-10 py-4 border flex flex-col gap-2">
        {{#ifEq this user.Id produk.kedai.user.Id }}
            {{> confirmmodal }}
        {{/ifEq}}
        <div class="flex items-center">
            <h1 class="capitalize">{{produk.name}}</h1>
            <div class="flex justify-end w-full">
                {{> dropdownmenu key=produk.Id kedai=produk.kedai}}
            </div>
        </div>
        <p><a href="/k/{{produk.kedai.name}}" class="link">{{produk.kedai.name}}</a> <span
                class="text-slate-500">by {{produk.kedai.user.full_name}}</span></p>
        <p class="text-sm text-slate-500">Updated at {{produk.updatedAt}}</p>
        <img class=" p-4 border object-contain w-full h-64" src="/picture/{{produk.picture}}" alt="">
        <h2 class="text-slate-500 text-md">Rp. {{produk.price}}</h2>
        <p>{{produk.description}}</p>
    </div>
    <div>
        <h1 class="text-center mt-4">Fitur Ulasan dalam pengerjaan ...</h1>
    </div>
</div>
<script src="/js/copyCB.js"></script>