<div class="mt-2 p-2 flex-grow flex flex-col items-center min-h-[calc(100vh-3rem)]">
    {{> notif}}
    {{#if profile}}
        <div class="bg-white p-4 rounded-xl w-2/3">
            <img src="/picture/{{kedai.picture}}" class="w-full h-72 object-cover border" alt="">
            <div class="flex items-end justify-between gap-3 px-8 mt-4">
                <div class="flex items-end gap-3 mb-2">
                    <h1>{{kedai.name}}</h1>
                    {{#ifEq this kedai.user.username user.username}}
                        <a href="/editkedai" class="link">Edit Profile</a>
                    {{/ifEq}}
                </div>
            </div>
            <div class="flex flex-col gap-2 px-8">
                <div class="text-3xl text-yellow-300">
                    {{#for this 5}}
                        {{#cmp this count '<' kedai.rating._avg.rating}}
                            <span class="fa fa-star"></span>
                        {{else}}
                            <span class="fa fa-star-o"></span>
                        {{/cmp}}
                    {{/for}}
                </div>
                <a href="/p/{{kedai.user.username}}">by <span class="link">{{kedai.user.username}}</span></a>
                <p class="text-slate-600">{{kedai.address}}</p>
                <a href="http://wa.me/{{kedai.phone}}" class="link self-start">Contact me: {{kedai.phone}}</a>
                <div class="flex flex-col items-center gap-2">
                    <p id="bio" class="text-left w-full"></p>
                    <button id="expandBtn" class="rounded px-2 bg-slate-300 text-slate-700 text w-1/3"
                            onclick="expand()">
                        expand
                    </button>
                </div>
            </div>
        </div>
    {{/if}}
    <hr class="mt-2"/>
    <div class="mt-2 flex flex-wrap w-2/3">
        {{#eachProduk this kedai.produk}}
            <div class="w-1/2 p-1 ps-0">
                <div class="flex flex-col items-start bg-white rounded-lg">
                    <div class="p-2 flex justify-end w-full">
                        {{> dropdownmenu key=produk.Id}}
                    </div>
                    <a href="/produk/{{kedai.name}}/{{produk.Id}}" class="w-full p-2 pt-0">
                        <div class="w-full h-52 lg:h-56 flex justify-center bg-slate-100 mb-2 border">
                            <img class="object-contain" src="/picture/{{produk.picture}}" alt="">
                        </div>
                        <h1 class="text-xl font-bold capitalize">{{produk.name}}</h1>
                        <h2 class="text-slate-500 text-sm">Rp. {{produk.price}}</h2>
                        <p>{{substr produk.description 37}} <span class="text-slate-500">...</span></p>
                        <div class="mt-2 flex justify-between items-center gap-3 w-full">
                            <p class="flex gap-1 items-center text-slate-400">
                                <span class="material-icons">comment</span>
                                {{produk._count.Ulasan}}
                            </p>
                            <p class="flex gap-1 items-center text-slate-400">
                                <span class="material-icons">star</span>
                                {{#if produk.rating}}
                                    {{produk.rating._avg.rating}}
                                {{else}}
                                    0
                                {{/if}}
                                /5
                            </p>
                        </div>
                    </a>
                </div>
            </div>
            {{> confirmmodal }}
            <script>
                const dropdown = new Dropdown($("#dropdown{{produk.Id}}")[0], $("#dropdown{{produk.Id}}-btn")[0]);
            </script>
        {{/eachProduk}}
    </div>
    <script src="/js/copyCB.js"></script>
    <script>
        const bio = "{{kedai.description}}";
        var isExpand = false;

        function expand() {
            const $bio = $("#bio");
            const $expandBtn = $("#expandBtn");
            if (isExpand) {
                $bio.html(bio);
                $expandBtn.html("close");
            } else {
                $bio.html(bio.substring(0, 100) + "...");
                $expandBtn.html("expand");
            }
            isExpand = !isExpand;
        }

        expand();
    </script>
</div>